*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#img-logo {
    width: 20px;
    height: auto;
    margin: 0 0em;
}

nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: #04512e;
    padding: 1em;
    width: 100%;
    height: 2.8em;
}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

#a-logo {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#a-logo span {
    padding-left: 0.3em;
}

#hamburger {
    appearance: none;
}

#navigator>label>i {
    color: white;
}

label {
    display: none;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    gap: 2em;
}

ul a {
    padding: 0.8em;
    padding-bottom: 0.5em;
}

ul a:hover {
    background-color: #333;
    border-bottom: none;
    border-radius: 0.4em;
}

.active {
    border-bottom: 2px solid #fff;
}

@media screen and (max-width: 600px) {
    label {
        display: block;
    }

    ul {
        font-size: 1.2em;
        position: absolute;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        top: 2.3em;
        width: 100%;
        height: 0;
        background: transparent;
        transition: 0.6s ease-in-out;
        overflow: hidden;
    }

    input[type='checkbox']:checked~ul {
        height: calc(100vh - 2.1em);
        background-color: #333;
        z-index: 9999;
    }

    input[type='checkbox']:checked~.hamburger {
        margin-top: -10px;
        margin-right: 20px;
        font-size: .65em;
    }

    input[type='checkbox']:checked~.hamburger .bar:nth-child(1) {
        position: absolute;
        transform: rotate(45deg);
        translate: 2px 0;

    }

    input[type='checkbox']:checked~.hamburger .bar:nth-child(2) {
        display: none;
    }

    input[type='checkbox']:checked~.hamburger .bar:nth-child(3) {
        position: absolute;
        transform: rotate(-45deg);

    }


    ul a:hover {
        background-color: #0073cf;
        border-bottom: none;
    }

    nav .hamburger {
        display: grid !important;
        justify-content: space-around;
    }
}

nav .hamburger {
    display: none;
    height: min-content;
    margin: 0px 0px 0 0;
    cursor: pointer;
}

nav .hamburger .bar {
    display: flex;
    height: 4px;
    width: 24px;
    background: #ffffff00;
    margin-bottom: 4px;
    border-radius: 12%;
    transition: .4s;
    align-items: center;
    justify-content: center;
}

nav .hamburger .bar > i{
    font-size: .65em;
    font-weight:900;
    color: #fff;

}


#container {
    margin-top: 2.8em;
}

#container>article>pre {
    margin: .1em;
    padding: .5em;
    font-size: 0.9em;
    color: #222;
}